
<div class="row ml-0 mt-3">
  <h2>Add comment</h2>
</div>
<div class="row ml-0 mt-2">
  <p>Enter comment for the event:</p>
</div>
<div class="row ml-0 mt-2">
  <%= render 'form', locals: { user: @user, event: @event, comment: @comment } %>
</div>
<%= link_to 'Back', comments_path %>