<div class="row ml-0 mt-3">
  <h2>New Event</h2>
</div>
<div class="row ml-0 mt-2">
  <p>Enter the following to add an Event:</p>
</div>
<%= render partial: "form",
           locals: {
                   event: @event,
                   submit_btn_text: "Create",
                   event_option_section_title: "Add event voting dates",
                   event_option_instruction_text: "Add vote options for your event"
           } %>