<!DOCTYPE html>
<html>
<div class="row">
  <div class="leftcolumn">
    <div class="card">
      <h2>Welcome to Meet Me! The best platform to arrange meetings with your friends and colleagues</h2>
      <h4>Create events and attend events in a click</h4>
      <div class="fakeimg" style="height:200px;">Image</div>
      <h4>Log in or Join us</h4>
      <button class="button">Log In</button>
      <button class="button">Sign Up Now!</button>
    </div>
  </div>
</div>

</html>

