<!DOCTYPE html>
<html>
<div class="row">
  <div class="leftcolumn">
    <div class="card">
      <h5 class="display-2">Welcome to Meet Me! The best platform to arrange meetings with your friends and colleagues</h5>
    </div>
    <div class="container">
      <img src="app/assets/images/social.svg" alt="social" style="width:100%;">
      <div class="centered" class="text-light bg-dark">Socialize, have fun, discover</div>
    </div>
    <div class="row">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <p>Already have an account?</p>
          <h5 class="card-title"><a href="#" class="btn btn-primary">Log In</a></h5>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <p>Join us</p>
          <h5 class="card-title"><a href="#" class="btn btn-primary">Sign Up Now!</a></h5>
        </div>
      </div>
    </div>

  </div>
</div>

</html>

