<!DOCTYPE html>
<html>
<button class="button">Log In</button>
<button class="button">Sign Up Now!</button>

<div>Welcome to Meet Me! The best platform to arrange meetings with your friends and colleagues</div>

</html>

