* {
    box-sizing: border-box;
}


a:link {
    text-decoration: none;
    color: gray;
}


a:visited {
    text-decoration: none;
    color: lightgray;
}

li a:hover {
    text-decoration: none;
    color: white;
    background-color: #111;
}

a:active {
    text-decoration: none;
    color: lightgrey;
}

b.header {
    font-size: 5.5em;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    width:100%;
    text-align: center;
}

.navigation {
    display: flex;
    flex-flow: row wrap;
    border-style: outset;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
li {
    float: left;
}
.nav-item {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


@media all and (max-width: 800px) {
    .navigation {
        /* When on medium sized screens, we
        center it by evenly distributing
        empty space around items */
        justify-content: space-around;
    }
}
/* Small screens */
@media all and (max-width: 500px) {
    .navigation {
        /* On small screens, we are no
        longer using row direction but
        column */
        flex-direction: column;
    }
}

.event {
    font-size: 1.5em;
    text-transform: uppercase;
    color: black;
    font-family: "Courier New", Courier, monospace;
    background-color: #f1f1f1;
    text-align: left;
}

.dropbtn {
    background-color: black;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}
table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
    background-color: #4CAF50;
    color: white;
}

footer {
    color: white;
    background: #333;
    padding: 0em;
    height: 5em;
    position:fixed;
    bottom:0px;
    width:100%;
}

.h5 {
    color: black;
    background: tomato;
    font-family: "Courier New", Courier, monospace;
    font-weight: bold;
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
.welcome {
    width: 320px;
    padding: 10px;
    border: 5px solid gray;
    margin: 15px;
}

/* Create three equal columns that floats next to each other */
.column {
    float: left;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width:600px) {
    .column {
        width: 100%;
    }
}

p {
    text-indent: 50px;
}

p.reply {
    text-indent: 70px;
}
