a:link {
    text-decoration: none;
    color: lightcoral;
}

a:visited {
    text-decoration: none;
    color: lightcoral;
}

a:hover {
    text-decoration: none;
    color: lightcoral;
    background-color: #111;
}

a:active {
    text-decoration: none;
    color: lightcoral;
}

.header {
    text-align: center;
    font-size: 2em;
    text-transform: uppercase;
    color: #4CAF50;
    font-family: "Courier New", Courier, monospace;
    background-color: #f1f1f1;
}

.navigation {
    display: flex;
    flex-flow: row wrap;
    /* This aligns items to the end line
    on main-axis */
    justify-content: flex-end;
    border-style: outset;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
li {
    float: left;
}
.nav-item {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-family: "Courier New", Courier, monospace;
    float: left;
}
li a:hover {
    background-color: #111;
}
/* Medium screens */
@media all and (max-width: 800px) {
    .navigation {
        /* When on medium sized screens, we
        center it by evenly distributing
        empty space around items */
        justify-content: space-around;
    }
}
/* Small screens */
@media all and (max-width: 500px) {
    .navigation {
        /* On small screens, we are no
        longer using row direction but
        column */
        flex-direction: column;
    }
}

.event {
    font-size: 1.5em;
    text-transform: uppercase;
    color: black;
    font-family: "Courier New", Courier, monospace;
    background-color: #f1f1f1;
    text-align: center;
}

.dropbtn {
    background-color: black;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}
